<!DOCTYPE html>
<html>
    <head>
        <title>Mudi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron mb-3">
                <h1 class="display-4">Novo Pedido</h1>
            </div>
            <div class="card">
                <form class="card-body" action="/pedido/novo" method="post">
                    <div class="form-group">
                        <label for="nomeProduto">Produto</label>
                        <input name="nomeProduto" id="nomeProduto" type="text" 
                               placeholder="nome do produto" class="form-control" />
                        <small>Informe qual é o nome do produto.</small>
                    </div>
                    <div class="form-group">
                        <label for="urlProduto">Url</label>
                        <input name="urlProduto" id="urlProduto" type="text"
                               placeholder="url do produto" class="form-control"/>
                        <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
                    </div>
                    <div class="form-group">
                        <label for="urlImagem">Imagem</label>
                        <input name="urlImagem" id="urlImagem" type="text"
                               placeholder="url da imagem" class="form-control" />
                        <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
                    </div>
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <textarea name="descricao" id="descricao" class="form-control"
                                  placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </body>
</html>
