<head th:fragment="head">
    <title>Mudi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <style>
        .logo-container {
            background-color: #47bcff;
            color: white;
        }

        .logo {
            font-family: 'Handlee', cursive;
            font-size: 2.5rem;
        }
    </style>
</head>

<header th:fragment="header" class="logo-container mb-3 p-3 d-flex justify-content-between">
    <span class="logo">mudi</span>
    <span class="mt-3">
        <a sec:authorize="!isAuthenticated()" class="text-light" href="/login">login</a>
        <a sec:authorize="isAuthenticated()" class="text-light" href="/logout">logout</a>
    </span>
</header>

<div th:fragment="titulo(valor)" class="jumbotron mb-0">
    <h1 class="display-4" th:text="${valor}"></h1>
</div>