<!DOCTYPE html>
<html>
    <head>
        <title>Mudi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>Mudi</header>
        
        <div>
            <div><span th:text="${pedido.nomeDoProduto}"></span></div>
            <div>Valor: <span th:text="${pedido.valorNegociado}"></span></div>
            <div>Data da entrega: <span th:text="${pedido.dataDaEntrega}"></span></div>
            
            <div>Produto</div>
            <div><span th:text="${pedido.urlProduto}"></span></div>
            
            <div>Descrição</div>
            <div>
                <span th:text="${pedido.descricao}"></span>
                <textarea>descrição do pedido</textarea>
            </div>
            <div>
                <span th:text="${pedido.urlImagem}"></span>
                <img src="src" alt="alt"/>
            </div>
        </div>
    </body>
</html>
