<!DOCTYPE html>
<html>
    <head>
        <title>Mudi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>Mudi</header>
        
        <div th:each="pedido : ${pedidos}">
            <div><span th:text="${pedido.nomeDoProduto}"></span></div>
            <div>Valor: <span th:text="${pedido.valorNegociado}"></span></div>
            <div>Data da entrega: <span th:text="${pedido.dataDaEntrega}"></span></div>
            
            <div>Produto</div>
            <div><input type="text" name="urlProduto" th:value="${pedido.urlProduto}" /></div>
            
            <div>Descrição</div>
            <div>
                <textarea th:text="${pedido.descricao}">descrição do pedido</textarea>
            </div>
            <div>
                <img th:src="${pedido.urlImagem}"/>
            </div>
        </div>
    </body>
</html>
