<!DOCTYPE html>
<html>
    <head th:replace="~{base :: head}"></head>
    <body onload="onLoad()">
        <header th:replace="~{base :: header}"></header>
        <div class="container" id="app">
            <div  th:replace="~{base :: titulo('Últimos pedidos')}"> {{message}}</div>
            <div class="card mb-3" th:each="pedido : ${pedidos}">
                <div class="card-header alert-dark"><span th:text="${pedido.nomeDoProduto}"></span></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-8 mb-3">
                            <div class="row">
                                <div class="col-md-4">Valor: <span th:if="${pedido.valorNegociado} != null" th:text="${'R$ '+#numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}"></span></div>
                                <div class="col-md-8">Data da entrega: <span th:text="${#temporals.format(pedido.dataDaEntrega, 'dd/MM/yyyy')}"></span></div>
                            </div>

                            <div>Produto</div>
                            <div><input class="form-control" type="text" name="urlProduto" th:value="${pedido.urlProduto}" /></div>

                            <div>Descrição</div>
                            <div>
                                <textarea class="form-control" th:text="${pedido.descricao}">descrição do pedido</textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div>
                                <img class="img-thumbnail" th:src="${pedido.urlImagem}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function onLoad() {
                createApp({
                    setup() {
                        const pedidos = [
                            {
                                "uuid": "d67aabe4-5095-4c1d-9dc7-41abac2e0b30",
                                "nomeDoProduto": "Teclado Mecânico Bora",
                                "valorNegociado": null,
                                "dataDaEntrega": "2023-09-06",
                                "urlProduto": "https://www.amazon.com.br/Teclado-Mec%C3%A2nico-T-dagger-Bora-Switch/dp/B0833F1KQ3/ref=sr_1_6?keywords=teclado+mecanico&qid=1692286853&sprefix=TECLA%2Caps%2C407&sr=8-6&ufe=app_do%3Aamzn1.fos.6121c6c4-c969-43ae-92f7-cc248fc6181d",
                                "urlImagem": "https://m.media-amazon.com/images/I/61j-3qqbAhL._AC_SX522_.jpg",
                                "descricao": "T-DAGGER Teclado Mecânico Bora Rgb Switch - T-tgk315-bl, PRETO",
                                "statusPedido": "AGUARDANDO"
                            },
                            {
                                "uuid": "8f605b8b-f067-40ba-8985-445d49ee6d73",
                                "nomeDoProduto": "Teclado Mecânico Bora",
                                "valorNegociado": null,
                                "dataDaEntrega": "2023-09-03",
                                "urlProduto": "https://www.amazon.com.br/Teclado-Mec%C3%A2nico-T-dagger-Bora-Switch/dp/B0833F1KQ3/ref=sr_1_6?keywords=teclado+mecanico&qid=1692286853&sprefix=TECLA%2Caps%2C407&sr=8-6&ufe=app_do%3Aamzn1.fos.6121c6c4-c969-43ae-92f7-cc248fc6181d",
                                "urlImagem": "https://m.media-amazon.com/images/I/61j-3qqbAhL._AC_SX522_.jpg",
                                "descricao": "T-DAGGER Teclado Mecânico Bora Rgb Switch - T-tgk315-bl, PRETO",
                                "statusPedido": "AGUARDANDO"
                            },
                            {
                                "uuid": "60686dac-d472-433e-b0b1-d5c262b6dd56",
                                "nomeDoProduto": "Teclado Mecânico Bora",
                                "valorNegociado": null,
                                "dataDaEntrega": "2023-09-09",
                                "urlProduto": "https://www.amazon.com.br/Teclado-Mec%C3%A2nico-T-dagger-Bora-Switch/dp/B0833F1KQ3/ref=sr_1_6?keywords=teclado+mecanico&qid=1692286853&sprefix=TECLA%2Caps%2C407&sr=8-6&ufe=app_do%3Aamzn1.fos.6121c6c4-c969-43ae-92f7-cc248fc6181d",
                                "urlImagem": "https://m.media-amazon.com/images/I/61j-3qqbAhL._AC_SX522_.jpg",
                                "descricao": "T-DAGGER Teclado Mecânico Bora Rgb Switch - T-tgk315-bl, PRETO",
                                "statusPedido": "AGUARDANDO"
                            },
                            {
                                "uuid": "2a67e64b-fc86-4bb0-870c-9b5976e14184",
                                "nomeDoProduto": "Teclado Mecânico Bora",
                                "valorNegociado": null,
                                "dataDaEntrega": "2023-09-05",
                                "urlProduto": "https://www.amazon.com.br/Teclado-Mec%C3%A2nico-T-dagger-Bora-Switch/dp/B0833F1KQ3/ref=sr_1_6?keywords=teclado+mecanico&qid=1692286853&sprefix=TECLA%2Caps%2C407&sr=8-6&ufe=app_do%3Aamzn1.fos.6121c6c4-c969-43ae-92f7-cc248fc6181d",
                                "urlImagem": "https://m.media-amazon.com/images/I/61j-3qqbAhL._AC_SX522_.jpg",
                                "descricao": "T-DAGGER Teclado Mecânico Bora Rgb Switch - T-tgk315-bl, PRETO",
                                "statusPedido": "AGUARDANDO"
                            }
                        ];
                        return {
                            pedidos
                        };
                    }
                }).mount('#app');
            }
        </script>
        <!-- https://vuejs.org/guide/quick-start.html#using-vue-from-cdn -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </body>
</html>
