<!DOCTYPE html>
<html>
    <head th:replace="~{base :: head}"></head>
    <body onload="onLoad()">
        <header th:replace="~{base :: header}"></header>
        <div class="container" id="app">
            <div  th:replace="~{base :: titulo('Faça sua oferta')}"></div>
            <div class="card mb-3" v-for="pedido in pedidos">
                <div class="card-header alert-dark">{{pedido.nomeDoProduto}}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-8 mb-3">
                            <div class="row">
                                <div class="col-md-4">Valor: <input type="number" /></div>
                                <div class="col-md-8">Data da entrega: <input type="date" /></div>
                            </div>

                            <div>Produto</div>
                            <div><a class="form-control" v-bind:href="pedido.urlProduto">{{pedido.nomeDoProduto}}</a></div>

                            <div>Descrição</div>
                            <div>
                                <textarea class="form-control">{{pedido.descricao}}</textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div>
                                <img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function onLoad() {
                const { createApp, ref } = Vue;

                createApp({
                  setup() {
                        const pedidos = ref([]);
                    return {
                      pedidos
                    };
                  }
                }).mount('#app');
            }
        </script>
        <!-- https://vuejs.org/guide/quick-start.html#using-vue-from-cdn -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </body>
</html>
